@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: Outfit;
}

.active hr {
    @apply block
}

::-webkit-scrollbar {
    @apply hidden
}

/* Fix for SVG width/height auto errors */
svg[width="auto"], svg[height="auto"] {
  width: 1em;
  height: 1em;
}